# Python Virtual Environment
.venv/
venv/

# Python Cache / Bytecode
__pycache__/
*.py[cod]
*$py.class

#Model checkpoints, and predictions
files/

# ==================================================
# Dataset Files (large local data)
# ==================================================
dataset_seg/
CBIS_dataset/
BUSI_dataset/
images/
masks/